<div class="login-form h-100">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="login-section col-4 main-box px-3 py-5">
        <%= image_tag("learning.png", alt: "Learning", class: "img-fluid d-block mx-auto my-3") %>
        <h6 class="text-muted text-center mb-5">Log in to start learning</h6>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="login-fieldset">
            <div class="field">
              <%= f.email_field :email, placeholder: 'Email address', class: 'form-control'%>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off" ,placeholder: 'Password', class: 'form-control'%>
            </div>

            <div class="actions">
              <%= f.submit "LOG IN", class: 'btn btn-outline-primary login-btn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>